@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url("/fonts/raleway/variable/normal.ttf") format('truetype');
  /*src: url("https://dashboard.myknot.co/fonts/raleway/variable/normal.ttf") format('truetype');*/
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url("/fonts/raleway/variable/italic.ttf") format('truetype');
  /*src: url("https://dashboard.myknot.co/fonts/raleway/variable/italic.ttf") format('truetype');*/
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

:root {
  font-family: "Raleway" , Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  height: 100%;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

#root {
  margin: 0;
  height: 100%;
}

:root {
  margin: 0;
  height: 100%;
}

.show-open-hide-closed{
  transition:  5000ms ease-in-out;
  -moz-transition: 5000ms ease-in-out;
  -webkit-transition: 5000ms ease-in-out;
  display: flex;
}
.RaMenu-open .show-open-hide-closed{
  transition:  1600ms ease-in-out;
  -moz-transition: 1600ms ease-in-out;
  -webkit-transition: 1600ms ease-in-out;
  transition-delay: 1600ms;
  -moz-transition-delay: 1600ms;
  -webkit-transition-delay: 1600ms;
  display: flex;
}
.RaMenu-closed .show-open-hide-closed{
  transition:  1600ms ease-in-out;
  transition-delay: 1600ms;
  -moz-transition-delay: 1600ms;
  -webkit-transition-delay: 1600ms;
  -moz-transition: 1600ms ease-in-out;
  -webkit-transition: 1600ms ease-in-out;
  display: none;

}